/*-- scss:defaults --*/

$theme: "coeos" !default;

//
// Color system
//

$white: #fff !default;        // branco
$black: #000 !default;        // preto

$blue: #0056b3 !default;      // azul mais escuro para contraste
$indigo: #3215a8 !default;    // indigo mais escuro
$purple: #502795 !default;    // roxo mais escuro
$pink: #cc2077 !default;      // pink mais escuro
$red: #e60000 !default;       // vermelho mais escuro
$orange: #e65c00 !default;    // laranja mais escuro
$yellow: #ffcc00 !default;    // amarelo mais claro para contraste
$green: #248700 !default;     // verde mais escuro
$teal: #1a9988 !default;      // teal mais escuro
$cyan: #17a2b8 !default;      // cyan mais escuro

$primary: $black !default;    // preto para texto principal
$secondary: #fff !default; // cinza muito claro para fundo
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

// Body

$body-bg: $secondary !default; // Fundo claro
$body-color: $primary !default; // Texto escuro

$light: $body-color !default;
$dark: $body-bg !default;

// Fonts

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$h1-font-size: 3rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 1.5rem !default;
$headings-color: $primary !default;

h1{
  font-family: Bitter;

}
.title {color: #853D5E;}
body p {
  font-size: 1.2rem; // ajuste o valor conforme necessário
  margin-top: 1rem; // ajuste o valor do espaçamento superior conforme necessário
  margin-bottom: 1rem;
}

// Apply the gradient background to the body
body {
  margin: 0;
  height: 100vh;
  font-family: Raleway, Sans-Serif;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  background-size: cover;          // Faz o fundo cobrir toda a área do elemento
  background-repeat: no-repeat;    // Impede que o fundo se repita
  background-attachment: fixed;

}

.container {
  position: relative;
  width: 100%;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-col-1 {
    border: 2px solid  $pink; /* Substitua #ff0000 pela cor desejada */
    font-family: Raleway;
}




// navbar
.navbar-title {
  font-family:  Raleway, Sans-Serif;
  font-size:30px;
}

.navbar-dark .navbar-brand {
  text-align: right;
  color: $primary;
}

.navbar-nav {
  margin-right: 50px;
  margin-left: 50px;
  color: $primary;
}

.navbar-nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: $primary;
}


.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-family: Raleway, Sans-Serif;
  font-size: 9px;
}

